/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 /* ------------
--------- body-----------
  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* body,html{
    overflow-x:hidden;
} */

/* --------------
banner part
------------ */
.top-banner{
    width:100%;
    height: 550px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
    background-color:#2D25A0 ;
}
.banner{
    width: 50%;
    display: flex;
    margin-left: 0px;
    margin-right: 350px;
    justify-content: space-between;
    align-items: center;
}

.banner-image{
    display: flex;
    position: relative;
    width:556.01px;
    Height: 438px;
    padding-left:30px;
}
.banner-image:hover{
    transform: rotate(30deg);
    transition: transform 0.5s ease-in;
}
.heading h1{
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    width:485px;
    height: 230px;
    line-height: 80px;
}
.heading button{
   border: none;
    padding: 13px 15px;
    width: 34%;
    font-size:16px;
    color: white;
    background-color: #E02C6D;
}
.heading i{
    padding-left: 10px;
}
/*------------------main--------------*/
/*--------------player album-------------*/
.album{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:-20px;
    margin: 70px 130px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 3px 3px 35px 3px rgba(128, 128, 128, 0.315);
    margin: 20px;
}
.player img{
 width: 90%;
 padding:15px;
 }
.texts{
    margin-top: -18px;
    padding:0px 15px 18px 15px;
    line-height: 23.5px;
    letter-spacing: 0.6px;
}
.texts p{
    color: gray;
}
/*------------update query------------*/
.updates{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-80px;
}
.updates p{
    font-size: 70px;
    font-weight: 700;
    color: rgb(82, 79, 79);
}
.updates i{
    font-size: 100px;
    position: relative;
    color:#2D25A0;
    background-color:#3DBAFD;
    border-radius: 60px;
}
.updates:hover .ball-1{
    transform:translate(720px) rotate(90deg);
    transition:transform 2s ease-in ;
}
.updates:hover .ball-2{
    transform:translate(-720px) rotate(90deg);
    transition:transform 2s ease-in ;
}
.updates:hover p{
    color:#E02C6D;
    transition: color 1s linear 1s;
}
/*----------
-------login box---------
*/
.login-box{
    position:relative;
    width:20%;
    justify-content: center;
    align-items: center;
    transform:translate(550px);
    padding-bottom:70px;
    font-size: 30px;
}
.login-box h1{
    padding-left:17px;
    border-bottom: 5px solid #E02C6D;
}
.text-box {
   padding-left:12px;
   
}
.text-box i{
    font-size:15px;
}
.text-box input{
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid #E02C6D;
   
}
 .button{
     margin-top:28px;
     font-size: 16px;
     width:75%;
     padding: 10px;
     transform:translate(37px);
     border:3px solid #E02C6D;
 }
 .button:hover{
     color: white;
     background-color:#E02C6D;
 }
/*-------------
------------footer-----------
*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:0px;
    padding-bottom: 35px;
}
footer img{
    width:35%;
    padding-left: 400px;
 
}

 .icons>.fab,.icons> .fas{
    width: 25px;
    height:30px;
    background-color: rgba(173, 167, 167, 0.514);
    border-radius: 30px;
    position:relative;
    overflow:hidden;
    padding:2px 0px 0px 6px;
}
.icons i{
   line-height: 30px;
   font-size: 19px;
   letter-spacing: 4px;
   color: rgba(70, 65, 65, 0.651);
}
.fa-copyright{
    font-size: 12px;
}
/*----------media query -----------
----------for mobile----------
*/

 @media only screen and (max-width:688px) {
     /* body,html{
         overflow-x:hidden;
     } */
     .top-banner{
        width: 130%;
        height: 995px;
        padding-left: 100px;
     }
   .banner{
    display: grid;
    grid-template-rows:repeat(1,0.5fr);
    grid-row-gap: 190px;
    position: absolute;
   
   }
  .heading{
     font-size: 10%;
  }
  main,footer{
      display: none;
  }
  
   /* .album{
       grid-template-columns: repeat(1,1fr);

   } */

} 